// SITE CONFIG

- @Subtitle = "Home"
- @title = "Eastern Visayas" + ' - ' + @Subtitle # Permanent
- @bodyclass = "home"
- @title_color = "#000"

:css 
  #main-content { 
    background: none;
    box-shadow: none;
  }

// CONTENT

.content
  .box-container.bounceIn.b1
    .box#ptg
      %img{:src => "images/wtg/1.jpg", :alt => "Haml"}
      %img{:src => "images/wtg/2.jpg", :alt => "Haml"}
      %img{:src => "images/wtg/3.jpg", :alt => "Haml"}
    .title#ptg_f
      %a{:href => "pages/where-to-go/index.html"}= "WHERE TO GO"
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b2
    .box#sh
      %img{:src => "images/sh/1.jpg", :alt => "Haml"}
      %img{:src => "images/sh/2.jpg", :alt => "Haml"}
      %img{:src => "images/sh/3.jpg", :alt => "Haml"}
    .title#sh_f 
      %a{:href => "pages/sleeping-haven/index.html"}= "SLEEPING HAVEN"
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b3
    .box#st
      %img{:src => "images/st/1.jpg", :alt => "Haml"}
      %img{:src => "images/st/2.jpg", :alt => "Haml"}
    .title#st_f 
      %a{:href => "pages/shopping-treats/index.html"}= "SHOPPING TREATS" 
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b4
    .box#fs
      %img{:src => "images/fs/1.jpg", :alt => "Haml"}
      %img{:src => "images/fs/2.jpg", :alt => "Haml"}
    .title#fs_f 
      %a{:href => "pages/food-sanctuary/index.html"}= "FOOD SANCTUARY" 
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b5
    .box#trip
      %img{:src => "images/trip/1.jpg", :alt => "Haml"}
      %img{:src => "images/trip/2.jpg", :alt => "Haml"}
    .title#trip_f 
      %a{:href => "pages/plan-a-trip/index.html"}= "PLAN A TRIP" 
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b6
    .box#cs
      %img{:src => "images/cs/1.jpg", :alt => "Haml"}
      %img{:src => "images/cs/2.jpg", :alt => "Haml"}
    .title#cs_f 
      %a{:href => "pages/chill-spots/index.html"}= "CHILL SPOTS" 
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b7
    .box#gh
      %img{:src => "images/gh/1.jpg", :alt => "Haml"}
      %img{:src => "images/gh/2.jpg", :alt => "Haml"}
    .title#gh_f 
      %a{:href => "pages/gotta-have/index.html"}= "GOTTA HAVE" 
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b8
    .box#mt
      %img{:src => "images/mt/1.jpg", :alt => "Haml"}
      %img{:src => "images/mt/2.jpg", :alt => "Haml"}
      %img{:src => "images/mt/3.jpg", :alt => "Haml"}
    .title#mt_f 
      %a{:href => "pages/must-taste/index.html"}= "MUST TASTE" 
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled
  .box-container.bounceIn.b9
    .box#gal
      %img{:src => "images/gal/1.jpg", :alt => "Haml"}
    .title#gal_f 
      %a{:href => "pages/gallery/index.html"}= "GALLERY"
      %a.link{:title => "Code: 0x2795"}
        %i.icon-plus-circled